@inject IStringLocalizer<Lazy2048Localization> Localizer

<div id=end style=display:none>
    <h1>@Localizer["Win"]</h1>
    <p><b>@Localizer["LetsParty"]</b><br><small>@Localizer["WinDescriptionOne"]</small><br>@Localizer["WinDescriptionTwo"]</p>
    <div id=reset>@Localizer["PlayAgain"]</div>
</div>