<div class="how-to-play">
    <div class="section section-1">
        <h4>@Localizer["BouncingBall"]<br>@Localizer["ChangesColor"]</h4>
        <div class="content">
            <div class="ball-demo" id="ball-demo"></div>
        </div>
    </div>
    <div class="section section-2">
        <h4>@Localizer[$"Guide{Device.KindTypeString}"]<br>@Localizer["Ball"]</h4>
        <div class="content">
            <div class="bar bar-1" data-index="0"></div>
            <div class="bar bar-2"></div>
            <div class="bar bar-3"></div>
        </div>
    </div>
    <div class="section section-3">
        <h4>@Localizer["AlwaysMatch"]<br>@Localizer["BallBar"]</h4>
        <div class="content">
            <div class="ball-demo" id="ball-demo"></div>
            <div class="bar bar-1"></div>
        </div>
    </div>
</div>