<Router AppAssembly="@GetType().Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(Route)" />
		@*<FocusOnNavigate RouteData="@routeData" Selector="h1" />*@
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(Route)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
		@*<Error Execute="true" />*@
	</NotFound>
</Router>