<div class="menu menu--score">
    <h1>@Localizer["GameOver"]</h1>
    <h2>@Localizer["Score"]</h2>
    <div class="final-score-lbl"></div>
    <div class="high-score-lbl"></div>
    <button type="button" class="play-again-btn">@Localizer["PlayAgain"]</button>
    <button type="button" class="menu-btn--score">@Localizer["MainMenu"]</button>
    <button type="button" class="menu-btn--exit2">@Localizer["ExitGame"]</button>
</div>