@inject IStringLocalizer<TheCubeLocalization> Localizer

<div class="ui__prefs">
    <range name="size" title="@Localizer["CubeSize"]" list="@Localizer["CubeSizeValue"]"></range>
    <range name="flip" title="@Localizer["FlipType"]" list="@Localizer["FlipTypeValue"]"></range>
    <range name="scramble" title="@Localizer["ScrambleLength"]" list="@Localizer["ScrambleLengthValue"]"></range>
    <range name="fov" title="@Localizer["CameraAngle"]" list="@Localizer["CameraAngleValue"]"></range>
    <range name="theme" title="@Localizer["ColorScheme"]" list="@Localizer["ColorSchemeValue"]"></range>
</div>