<div class="ui__stats">
    <div class="stats" name="cube-size">
        <i>@Localizer["Name"]</i><b>3x3x3</b>
    </div>
    <div class="stats" name="total-solves">
        <i>@Localizer["TotalSolves"]</i><b>-</b>
    </div>
    <div class="stats" name="best-time">
        <i>@Localizer["TheBestTime"]</i><b>-</b>
    </div>
    <div class="stats" name="worst-time">
        <i>@Localizer["WorstTime"]</i><b>-</b>
    </div>
    <div class="stats" name="average-5">
        <i>@Localizer["Average5"]</i><b>-</b>
    </div>
    <div class="stats" name="average-12">
        <i>@Localizer["Average12"]</i><b>-</b>
    </div>
    <div class="stats" name="average-25">
        <i>@Localizer["Average25"]</i><b>-</b>
    </div>
</div>