@inject IStringLocalizer<Lazy2048Localization> Localizer

<div id=home>
    <h1>@Localizer["Game"]</h1>
    <p><b>How to play:</b><br>⭐️ Drag pieces around<br>⭐️ Stack those with the same number<br>⭐️ Get to 2048 to win the game<br>⭐️ Or Sit simply<small>(recommended for highly lazy ones)</small></p>
    <div id=start>@Localizer["NewGame"]</div>
    <div id=menu><input type=checkbox class=opt id=m checked=checked><label for=m>@Localizer["Music"]</label><br><input type=checkbox class=opt id=s checked=checked><label for=s>@Localizer["Sound"]</label><br><input type=checkbox class=opt id=q checked=checked><label for=q>@Localizer["Quality"]</label></div>
</div>