@inject IStringLocalizer<Lazy2048Localization> Localizer

<div id=home>
    <h1>@Localizer["Game"]</h1>
    <p>
        <b>@Localizer["HowToPlay"]</b>
        <br>@Localizer["PlayDescriptionOne"]
        <br>@Localizer["PlayDescriptionTwo"]
        <br>@Localizer["PlayDescriptionThree"]
        <br>@Localizer["PlayDescriptionFourPartOne"]<small>@Localizer["PlayDescriptionFourPartTwo"]</small>
    </p>
    <div id=start>@Localizer["NewGame"]</div>
    <div id=menu>
        <input type=checkbox class=opt id=m checked=checked>
        <label for=m>@Localizer["Music"]</label>
        <br>
        <input type=checkbox class=opt id=s checked=checked>
        <label for=s>@Localizer["Sound"]</label>
        <br>
        <input type=checkbox class=opt id=q checked=checked>
        <label for=q>@Localizer["Quality"]</label>
    </div>
</div>