@inject IStringLocalizer<TheCubeLocalization> Localizer

<div class="ui__texts">
    <h1 class="text text--title">
        <span>@Localizer["GameOne"]</span>
        <span>@Localizer["GameTwo"]</span>
    </h1>
    <div class="text text--note">
        @Localizer[$"Start{Device.KindTypeString}"]
    </div>
    <div class="text text--timer">
        @Localizer["Timer"]
    </div>
    <div class="text text--complete">
        <span>@Localizer["Complete"]</span>
    </div>
    <div class="text text--best-time">
        <icon trophy></icon>
        <span>@Localizer["BestTime"]</span>
    </div>
</div>