<div class="header" style="z-index: 10">
    <h1><span>@Localizer["GameOne"]</span>@Localizer["GameTwo"]</h1>
    <h2>@Localizer["GameDescription"]</h2>
    <div class="score" id="score">
        <div class="score__content" id="level">
            <div class="score__label">@Localizer["Level"]</div>
            <div class="score__value score__value--level" id="levelValue">@Localizer["LevelValue"]</div>
            <svg class="level-circle" id="levelCircle" viewbox="0 0 200 200">
                <circle id="levelCircleBgr" r="80" cx="100" cy="100" fill="none" stroke="#d1b790" stroke-width="24px" />
                <circle id="levelCircleStroke" r="80" cx="100" cy="100" fill="none" #f25346 stroke="#68c3c0" stroke-width="14px" stroke-dasharray="502" />
            </svg>
        </div>
        <div class="score__content" id="dist">
            <div class="score__label">@Localizer["Distance"]</div>
            <div class="score__value score__value--dist" id="distValue">@Localizer["DistanceValue"]</div>
        </div>
        <div class="score__content" id="energy">
            <div class="score__label">@Localizer["Energy"]</div>
            <div class="score__value score__value--energy" id="energyValue">
                <div class="energy-bar" id="energyBar"></div>
            </div>
        </div>
    </div>
</div>